@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background: #dadada;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-country:hover, 
.logo-img:hover,
.nav-language:hover,
.nav-text:hover,
.nav-cart:hover {
    outline: 1px solid #fff;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #fff;
}

.logo-img {
    padding: 5px 5px;
}

.nav-country {
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
    padding: 5px 5px;
}

.nav-country img {
    cursor: pointer;
}

.nav-country p {
    cursor: default ;
}

.nav-country h1 {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.nav-search {
    display: flex;
    flex: 1;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

.nav-search-input {
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon {
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.nav-language {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
    padding: 5px 5px;
}

.nav-text {
    margin-left: 15px;
    cursor: pointer;
    padding: 5px 5px;
}

.nav-text p {
    font-size: 10px;
}

.nav-text h1 {
    font-size: 14px;
}

.nav-cart {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    padding: 5px 5px;
}

/* Sub Nav */
.nav-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
}

.nav-bottom div {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 8px;
    font-weight: 500;
    cursor: pointer;
}

.nav-bottom a {
    padding: 10px 8px;
}

.nav-bottom a:hover,
.nav-bottom div:hover {
    outline: 1px solid #fff;
}

/* Slider */
.header-slider a {
    position: absolute;
    top: 25%;
    z-index: 1;
    padding: 5vh 2vw;
    background: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
}

.control-next {
    right: 0;
}

.header-slider ul {
    display: flex;
    overflow-y: hidden;
}

.header-img {
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

/* Box-row Cards */
.box-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}

.box-row-class {
    margin-top: -20vw;
}

.box-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-width: 200px;
    z-index: 1;
}

.box-col a {
    font-size: 13px;
    color: #009999;
    font-weight: 500;
}

.box-col a:hover {
    color: black;
}

/* Products-Slider */
.products-slider {
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
}

.products-slider .products button {
    border: none;
    outline: none;
}

.products-slider .control-next {
    /* display: none; */
    position: absolute;
    top: 40%;
    right: 20px;
    z-index: 1;
    padding: 5vh 1.3vw;
    background: white;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(0, 0, 0, 0.1);
}

.products-slider .control-prev {
    /* display: none; */
    position: absolute;
    top: 40%;
    left: 20px;
    z-index: 1;
    padding: 5vh 1.3vw;
    background: #fff;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1), 4px -4px 6px rgba(0, 0, 0, 0.1);
}

/* .products-slider:hover .control-prev,
.products-slider:hover .control-next {
    display: block;
} */

.products-slider .products {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}

.products-slider .products img {
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
}

.products-slider .products::-webkit-scrollbar {
    display: none;
}

/* products-slider-with-price */
.products-slider-with-price {
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
}

.products-slider-with-price .products {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}

.products-slider-with-price .products button {
    border: none;
    outline: none;
}

.products-slider-with-price .products::-webkit-scrollbar {
    display: none;
}

/* .products-slider-with-price .products::-webkit-scrollbar { */
    /* width: 4px; */
    /* height: 6px;
    border: 1px solid #d5d5d5;
}

.products-slider-with-price .products::-webkit-scrollbar-track {
    display: none;
}

.products-slider-with-price .products::-webkit-scrollbar-thumb{
    border-radius: 0;
    background: #b0b0b0; */
/* } */

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
    cursor: pointer;
}

.product-card img {
    width: 110px;
    margin: 0 50px;
}

.product-offer p {
    background: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
}

.product-offer span {
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}

.product-price {
    color: gray;
    font-size: 13px;
}

.product-card h4 {
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}

.products-slider-with-price .control-next {
    /* display: none; */
    position: absolute;
    top: 35%;
    right: 20px;
    z-index: 1;
    padding: 5vh 1.3vw;
    background: white;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(0, 0, 0, 0.1);
}

.products-slider-with-price .control-prev {
    /* display: none; */
    position: absolute;
    top: 35%;
    left: 20px;
    z-index: 1;
    padding: 5vh 1.3vw;
    background: #fff;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1), 4px -4px 6px rgba(0, 0, 0, 0.1);
}

/* .products-slider-with-price:hover .control-prev,
.products-slider-with-price:hover .control-next {
    display: block;
} */

/* Footer */
.footer {
    background: #232F3E;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer .footer-1 {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.footer-1 ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-1 ul li h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.footer-1 ul li a {
    color: #DDD;
    font-size: 15px;
}

.footer-1 ul li a:hover {
    text-decoration: underline;
}
.footer .footer-2 {
    width: 100%;
    border-top: 2px solid #3A4553;
    padding: 10px;
}

.footer .footer-3 {
    padding-top: 30px;
    padding-bottom: 40px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.footer .footer-3 img {
    cursor: pointer;
}

.footer .footer-3 p {
    font-size: 15px;
    color: #DDD;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    nav {
        flex-wrap: wrap;
    }

    .nav-search {
        order: 7;
        margin: 15px 0 5px;
        min-width: 300px;
    }

    /* .nav-bottom {
        flex-wrap: wrap;
    } */

    .box-col {
        max-width: 48%;
    }
}

@media only screen and (max-width: 600px) {
    .nav-country {
        display: none;
    }

    .nav-language {
        display: none;
    }

    .nav-text {
        display: none;
    }

    .nav-bottom {
        font-size: 13px;
        gap: 10px;
        overflow-x: scroll;
    }

    .nav-bottom::-webkit-scrollbar {
        display: none;
    }

    .nav-bottom p {
        text-wrap: nowrap;
    }

    .mobile-user-icon {
        display: flex !important;
        flex: 1;
        justify-content: flex-end;
    }

    .mobile-user-icon img {
        width: 25px;
    }

    .nav-cart img {
        width: 25px;
    }

    .nav-cart h4 {
        display: none;
    }

    .header-slider a {
        top: 24%;
        padding: 2vh 1vw;
        font-size: 15px;
    }

    .box-col {
        max-width: 100%;
        width: 100%;
    }

    .footer-1 {
        flex-direction: column;
        gap: 15px;
    }

    .footer-3 {
        flex-direction: column;
        gap: 20px !important;
    }

}

@media only screen and (max-width: 376px) {
    .header-slider a {
        top: 30%;
        padding: 2vh 1vw;
        font-size: 15px;
    }
}

@media only screen and (min-width: 600px) and
(max-width: 900px) {
    .footer-1 {
        display: grid !important;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}